body{

	font-family: cursive;
}

section{

	text-align:center;

}
table {

	background-image:url(../IMG/eau.jpg); 
	background-size: 110%;
	width:100%;

}
#contenu {
	
	padding-left: 4%;
	padding-right: 4%;
}

#case1{
	margin-left:10%;
}
#case2{
	margin-left:-30%;
	margin-right:30%;
}

h2{

	margin-left:5%;
	margin-right:15%;

}

#premier {

	background-image:url(../IMG/eau-turquoise.jpg);
	background-size: 500%;

}

#contact {

	background-image: url(../IMG/feu.jpg);
	color:white ;
	text-align:left;

}

label{

	margin-left: 15px;

}

#message {
	grid-auto-rows: 20ch;
	font-size:100%;
	width:70%;
	height:240px;
	margin-top:2%;
	margin-left:12%;
	margin-bottom:2%;
	border-radius: 30px;
	font-family: cursive;
	padding-top:10%;
	padding-right:2%;
	padding-left:2%;

}

h1 {

	text-align:center;

}

input {
	font-family: cursive;
	justify-content: right;
	border-radius: 30px;
	margin-right: 2%;
	margin-top:2%;
	padding-left: 2%;
	padding-right:2%;
}

button{

	background-image: url(../IMG/eau.jpg);
	border-radius: 30px;
	margin-left:55%;
}

footer {
	font-size:10px;

}