body{
	font-family: cursive;
}

section{
	text-align:center;

}
table {
	background-image:url(../IMG/eau.jpg); 
	background-size: 100%;
}

#premier {
	background-image:url(../IMG/eau-turquoise.jpg);
	background-size: 500%;

}

#contact {
	background-image: url(../IMG/feu.jpg);
	color:white ;
	text-align:left;
}

label{
	margin-left: 15px;
}

#message {
	font-size:100%;
	width:240px;
	height:240px;
}

input {
	justify-content: right;
	border-radius: 50px;
	margin-right: 15px;
}
button{
	background-image: url(../IMG/eau.jpg);
	border-radius: 50px;
}
footer {


}